[defaults]
remote_user = rasul
callback_whitelist=cgroup_perf_recap, timer, profile_task, profile_roles
farks = 100

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[callback_cgroup_perf_recap]
control_group = ansible_profile
